<mat-session-timer-alert [alertAt]="alertAt" [startTimer]="startTimer"></mat-session-timer-alert>

<!-- <session-expiration-alert [alertAt]="alertAt" [startTimer]="startTimer"></session-expiration-alert> -->

<button mat-raised-button color="accent" (click)="increase()">change alert at</button> {{ alertAt }}
<br />
<br />
<button mat-raised-button colof="warn" (click)="toggletimer()">toggle timer</button> {{ startTimer }}

<h2 *ngIf="sessionTimer.remainSeconds$ | async; let time">Session Remains {{ time }} seconds.</h2>
